*{
    margin: 0;
    padding: 0;
}
h2{
    background-color: orange;
    position: relative;
    left: 25px;
    /* top: 50px;     */
    /* bottom:15px;
    right:15px; */
}

h3{
    background-color: pink;
    position: fixed;
    /* example in any website header section is fixed and other content can be scroll up  and down */
}

h4{
    background-color: brown;
    position: sticky;
    top: 10px;
}

p{
    background-color: greenyellow;
    position: static;
    left: 50px;
    top: 70px;
}